
@keyframes part-enter-1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes part-leave-1 {
    0% {
        opacity: 1;
    }   
    100% {
        opacity: 0;
    }
}
.part-enter-1 {
    animation: part-enter-1 1s;
}
.part-leave-1 {
    animation: part-leave-1 1s; 
    opacity: 0;
}
@keyframes part-enter-2 {
    0% {
        transform: translateX(-50px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes part-leave-2 {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }
    100% {
        transform: translateX(50px);
        opacity: 0;
    }
}
.part-enter-2 {
    animation: part-enter-2 1s;
}
.part-leave-2 {
    animation: part-leave-2 1s;
    opacity: 0;
}
@keyframes part-enter-3 {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes part-leave-3 {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(100px);
        opacity: 0;
    }
}
.part-enter-3 {
    animation: part-enter-3 1s;
}
.part-leave-3 {
    animation: part-leave-3 1s;
    opacity: 0;
}
@keyframes part-enter-4 {
    0% {
        transform: scale(2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes part-leave-4 {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
.part-enter-4 {
    animation: part-enter-4 1s;
}
.part-leave-4 {
    animation: part-leave-4 1s;
    opacity: 0;
}
@keyframes part-enter-5 {
    0% {
        transform: scale(2);
        opacity: 0;
    }
    25% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes part-leave-5 {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
.part-enter-5 {
    animation: part-enter-5 1s;
}
.part-leave-5 {
    animation: part-leave-5 1s; 
    opacity: 0;
}
@keyframes part-enter-6 {
	0% {
        transform: translateY(-100%) rotate(0deg);
        opacity: 0;
    }
    100% {
        transform: translateY(0%) rotate(-360deg);
        opacity: 1;
    }
}
@keyframes part-leave-6 {
	0% {
        transform: translateY(0%) rotate(-360deg);
        opacity: 1;
    }
    100% {
        transform: translateY(0%) rotate(0deg);
        opacity: 0;
    }
}
.part-enter-6 {
    animation: part-enter-6 1.5s;
}
.part-leave-6 {
    animation: part-leave-6 1s;
    opacity: 0;
}
@keyframes part-enter-7 {
	from{
		transform: translate(50%, 0px)
		rotate(0turn)
		translate(-50%, 0px)
		translate(50%,50%)
		rotate(1turn)
		translate(-50%,-50%);
        opacity: 0;
	}
	to{
		transform: translate(50%, 0px)
		rotate(1turn)
		translate(-50%, 0px)
		translate(50%,50%)
		rotate(0turn)
		translate(-50%,-50%);
        opacity: 1;
	}
}
@keyframes part-leave-7 {
	from{
		transform: translate(50%, 0px)
		rotate(0turn)
		translate(-50%, 0px)
		translate(50%,50%)
		rotate(1turn)
		translate(-50%,-50%);
        opacity: 1;
	}
	to{
		transform: translate(-50%, 0px)
		rotate(1turn)
		translate(-50%, 0px)
		translate(50%,50%)
		rotate(0turn)
		translate(-50%,-50%);
        opacity: 0;
	}
}
.part-enter-7 {
    animation: part-enter-7 1s;
}
.part-leave-7 {
    animation: part-leave-7 1s;
    opacity: 0;
}
@keyframes part-enter-8 {
    0% {
        webkit-transform: scale3d(0,0,0) scaleX(-1);
        transform: scale3d(0,0,0) scaleX(-1);
    }
    100% {
        webkit-transform: scaleX(1) scale3d(1,1,1);
        transform: scaleX(1) scale3d(1,1,1);
        opacity: 1;
    }
}
@keyframes part-leave-8 {
    0% {
        webkit-transform: scaleX(1) scale3d(1,1,1);
        transform: scaleX(1) scale3d(1,1,1);
        opacity: 1;
    }
    100% {
        webkit-transform: scale3d(0,0,0) scaleX(-1);
        transform: scale3d(0,0,0) scaleX(-1);
    }
}
.part-enter-8 {
    animation: part-enter-8 1s;
}
.part-leave-8 {
    animation: part-leave-8 1s;
    opacity: 0;
}
@keyframes part-enter-9 {
    0% {
        transform: scaleX(-1);
        opacity: 0;
    }
    100% {
        transform: scaleX(1);
        opacity: 1;
    }
}
@keyframes part-leave-9 {
    0% {
        transform: scaleX(1);
        opacity: 1;
    }
    100% {
        transform: scaleX(-1);
        opacity: 0;
    }
}
.part-enter-9 {
    animation: part-enter-9 1s;
}
.part-leave-9 {
    animation: part-leave-9 1s;
    opacity: 0;
}
@keyframes part-enter-10 {
    0% {
        transform: scaleX(-0.1);
    }
    50% {
        opacity: 0.5;
        transform: scale(1.2);
    }
    100% {
        transform: scaleX(1);
        opacity: 1;
    }
}
@keyframes part-leave-10 {
    0% {
        transform: scaleX(1);
        opacity: 1;
    }
    50% {
        transform: scale(-0.5);
    }
    100% {
        transform: scaleX(-0.1);
        opacity: 0;
    }
}
.part-enter-10 {
    animation: part-enter-10 1s;
}
.part-leave-10 {
    animation: part-leave-10 1s;
    opacity: 0;
}
@keyframes part-enter-11 {
    0% {
        opacity: 0;
        transform: translateX(-100px) scaley(0.1) rotate(-3deg) rotate(3deg);
    }
    100% {
        opacity: 1;
        transform: scaley(1);
    }
}
@keyframes part-leave-11 {
    0% {
        opacity: 1;
        transform: scaley(1);
    }
    100% {
        opacity: 0;
        transform: translateX(-100px) scaley(0.1) scaleX(0.5);

    }
}
.part-enter-11 {
    animation: part-enter-11 1s;
}
.part-leave-11 {
    animation: part-leave-11 1s;
    opacity: 0;
}
@keyframes part-enter-12 {
    0% {
        opacity: 0.5;
        transform: translateX(0px);
    }
    20% {
        transform: translateX(5px);
    }
    30% {
        transform: translateX(-5px);
    }
    40% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(-5px);
        color: #db0b0b;
    }
    80% {
        transform: translateX(0px);
    }   
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes part-leave-12 {
    40% {
        color: #57c469;
    }
    60% {      
        transform: scale(1.3);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.part-enter-12 {
    animation: part-enter-12 1s;
}
.part-leave-12 {
    animation: part-leave-12 1s;
    opacity: 0;
}
@keyframes part-enter-13 {
    0% {
        opacity: 0;
        transform: translateX(50px) scaleY(-1) translateY(-60px) rotateX(-30deg) rotateY(90deg);
    }
    100% {
        opacity: 1;
    }
}
@keyframes part-leave-13 {
    0% {
        opacity: 1;
    }
    100% {
        transform: translateX(0px) scale(0) translateY(60px) rotateX(-30deg) rotateY(-90deg);
        opacity: 0;
    }
}
.part-enter-13 {
    animation: part-enter-13 1s;
}
.part-leave-13 {
    animation: part-leave-13 1s;
}
@keyframes part-enter-14 {
    0% {
        transform: scaleY(0) scaleX(0) translateY(100px) translateX(-100px) ;
        opacity: 0;
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        opacity: 1;
    }
}
@keyframes part-leave-14 {
    0% {
        opacity: 1;
    }
    50% {
        transform: rotateX(90deg);
    }
    100% {
        transform: scaleY(1) scaleX(1);
        opacity: 0;
    }
}
.part-enter-14 {
    animation: part-enter-14 1s;
}
.part-leave-14 {
    animation: part-leave-14 1s;
    opacity: 0;
}
