@keyframes partInDefault {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes partOutDefault {
    0% {
        opacity: 1;
    }   
    100% {
        opacity: 0;
    }
}
.partInDefault {
    animation: partInDefault 1s;
}
.partOutDefault {
    animation: partOutDefault 1s; 
}
@keyframes partInLeft {
    0% {
        transform: translateX(-200px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes partOutRight {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }
    100% {
        transform: translateX(300px);
        opacity: 0;
    }
}
.partInLeft {
    animation: partInLeft 1s;
}
.partOutRight {
    animation: partOutRight 1s;
}
@keyframes partInDown {
    0% {
        transform: translateY(-200px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes partOutDown {
    0% {
        transform: translateY(0px);
        opacity: 1;
    }
    100% {
        transform: translateY(200px);
        opacity: 0;
    }
}
.partInDown {
    animation: partInDown 1s;
}
.partOutDown {
    animation: partOutDown 1s;
}
@keyframes partInZoom {
    0% {
        transform: scale(2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
@keyframes partOutZoom {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
.partInZoom {
    animation: partInZoom 1s;
}
.partOutZoom {
    animation: partOutZoom 1s;
}
@keyframes partInPut {
    0% {
        transform: scale(2);
        opacity: 0;
    }
    25% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes partOutPut {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}
.partInPut {
    animation: partInPut 1s;
}
.partOutPut {
    animation: partOutPut 1s; 
}
@keyframes partInRotation {
	0% {
        transform: translateY(-100%) rotate(0deg);
        opacity: 0;
    }
    100% {
        transform: translateY(0%) rotate(-360deg);
        opacity: 1;
    }
}
@keyframes partOutRotation {
	0% {
        transform: translateY(0%) rotate(-360deg);
        opacity: 1;
    }
    100% {
        transform: translateY(0%) rotate(0deg);
        opacity: 0;
    }
}
.partInRotation {
    animation: partInRotation 1.5s;
}
.partOutRotation {
    animation: partOutRotation 1s;
}
@keyframes partInSurround {
	from{
		transform: translate(50%, 0px)
		rotate(0turn)
		translate(-50%, 0px)
		translate(50%,50%)
		rotate(1turn)
		translate(-50%,-50%);
        opacity: 0;
	}
	to{
		transform: translate(50%, 0px)
		rotate(1turn)
		translate(-50%, 0px)
		translate(50%,50%)
		rotate(0turn)
		translate(-50%,-50%);
        opacity: 1;
	}
}
@keyframes partOutSurround {
	from{
		transform: translate(50%, 0px)
		rotate(0turn)
		translate(-50%, 0px)
		translate(50%,50%)
		rotate(1turn)
		translate(-50%,-50%);
        opacity: 1;
	}
	to{
		transform: translate(-50%, 0px)
		rotate(1turn)
		translate(-50%, 0px)
		translate(50%,50%)
		rotate(0turn)
		translate(-50%,-50%);
        opacity: 0;
	}
}
.partInSurround {
    animation: partInSurround 1s;
}
.partOutSurround {
    animation: partOutSurround 1s;
}
